
<h1>ラベル管理</h1>

<table class="label_table">
  <thead>
    <tr>
      <th>ラベル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><strong><%= label.label %></strong></td>
        <td><%= link_to '編集', edit_label_path(label) %></td>
        <td><%= link_to '消去', label, method: :delete, data: { confirm: '消去してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ラベル作成', new_label_path %>
