// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

.index_form_container {
  margin-bottom: 2rem;
  margin-bottom: 2rem;
}

.index_form_container div {
  text-align: center;
  margin-top: 1rem;
}

.index_table_container {
  padding: 0 8rem;
}

.index_table_container table {
  width: 100%;
  margin: auto 0;
}

#index_new, #index_paginate {
  text-align: center;
}

#index_paginate {
  text-align: center;
}

.index_table_container .row {
  border-bottom: solid 1px black;
}

.task_show_top{
  margin-top: 3rem;
}

.task_show{
  margin-bottom: 2rem;
}

.field_with_errors {
  display: contents;
  margin-left: 30px;
  width: 100%;
}

tbody .row{
  height: 5rem;
}

.user_info_container{
  margin: 4rem 0;
}

.task_show #label_table{
  margin: 0 auto;
}